<!DOCTYPE html>
<html class="x-admin-sm">

<head>
  <meta charset="UTF-8">
  <title>欢迎页面-X-admin2.1</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"
  />
  <link rel="stylesheet" href="./static/css/font.css">
  <link rel="stylesheet" href="./static/css/xadmin.css">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./static/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="./static/js/xadmin.js"></script>
  <script type="text/javascript" src="./static/js/cookie.js"></script>
  <script type="text/javascript" src="./static/main.js"></script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="x-body">
    <form class="layui-form" action="">

      <div class="layui-form-item">
        <label class="layui-form-label">景点名称</label>
        <div class="layui-input-inline">
          <input type="text" name="landscapeName" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">景点价格</label>
        <div class="layui-input-inline">
          <input type="text" name="price" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">景点评分</label>
        <div class="layui-input-inline">
          <input type="text" name="score" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">景点描述</label>
        <div class="layui-input-inline">
          <input type="text" name="Introduction" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>

      <!-- <div class="layui-form-item">
        <label class="layui-form-label">景点描述</label>
        <div class="layui-input-inline">
          <input type="text" name="pic" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
      </div> -->

      <div class="layui-form-item x-city" id="start">
        <label class="layui-form-label">景点地址</label>
        <div class="layui-input-inline">
          <select name="province" lay-filter="province">
            <option value="">请选择省</option>
          </select>
        </div>
        <div class="layui-input-inline">
          <select name="city" lay-filter="city">
            <option value="">请选择市</option>
          </select>
        </div>
        <div class="layui-input-inline">
          <select name="area" lay-filter="area">
            <option value="">请选择县/区</option>
          </select>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="./static/js/xcity.js"></script>
  <script>
    //Demo
    layui.use(['form', 'http', 'api'], function () {
      var form = window.form = layui.form;
      var http = layui.http;
      var api = layui.api;

      $('#start').xcity();

      //监听提交
      form.on('submit(formDemo)', function (formData) {
        var data = formData.field;
        data.address = data.province + '-' + data.city + '-' + data.area;
        delete data.province;
        delete data.city;
        delete data.area;
        http.ajax({
          url: api.insertScape,
          data: data,
          success: function (res) {
            layer.msg('新增成功');
          }
        });
        return false;
      });
    });
  </script>
</body>

</html>