<!doctype html>
<html class="x-admin-sm">

<head>
  <meta charset="UTF-8">
  <title>飞狗网</title>
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"
  />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="./static/lib/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="./static/asset/css/common.css">
  <link rel="stylesheet" href="./static/css/font.css">
  <link rel="stylesheet" href="./static/css/xadmin.css">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="./static/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="./static/js/xadmin.js"></script>
  <script type="text/javascript" src="./static/js/cookie.js"></script>
  <script type="text/javascript" src="./static/js/vue.js"></script>
  <script type="text/javascript" src="./static/main.js"></script>
</head>

<style type="text/css">
  .user-tab-info {
    padding: 20px 50px;
  }

  .layui-form-item {
    margin-bottom: 15px;
    float: left;
    clear: unset !important;
  }

  .x-admin-sm .layui-icon {
    font-size: 14px;
    float: right;
    cursor: pointer;
  }
  .layui-elem-quote {
    margin-top: 10px;
  }
</style>
<style type="text/css">
  [v-cloak] {
    display: none;
  }
</style>

<body>
  {% raw %}
  <div id="app" v-cloak>
    <div class="container" style="background-color: #1e9fff;">
      <ul class="layui-nav layui-bg-blue left" lay-filter="">
        <li class="layui-nav-item">
          <a href="flyInfo.html">机票预定</a>
        </li>
        <li class="layui-nav-item">
          <a href="hotels.html">酒店预定</a>
        </li>
        <li class="layui-nav-item">
          <a href="scape.html">景点门票</a>
        </li>
        <li class="layui-nav-item">
          <a href="raiders.html">热门攻略</a>
        </li>
        <li class="layui-nav-item">
          <a href="recommend.html">热门推荐</a>
        </li>
        <li class="layui-nav-item">
          <a href="post.html">社区交流</a>
        </li>
        <li class="layui-nav-item layui-this">
          <a href="coupon.html">资源共享</a>
        </li>
      </ul>
      <ul class="layui-nav layui-bg-blue right" lay-filter="">
        <li class="layui-nav-item">
          <a href="login.html">退出</a>
        </li>
        <li class="layui-nav-item">
          <a href="person.html">个人中心</a>
        </li>
      </ul>
    </div>

    <div class="main">
      <div class="user-tab-info">
        <blockquote class="layui-elem-quote"> 我的优惠券</blockquote>
        <div v-if="coupons.length" style="padding: 20px; background-color: #F2F2F2;">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md3" v-for="coupon in coupons">
              <div class="layui-card">
                <div class="layui-card-header">
                  所属：{{coupon.username}}
                </div>
                <div class="layui-card-body postContent-body">
                  价格：{{coupon.price}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
           暂无数据
        </div>
        <blockquote class="layui-elem-quote"> 我的机票</blockquote>
        <div v-if="flights.length" style="padding: 20px; background-color: #F2F2F2;">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md3" v-for="flight in flights">
              <div class="layui-card">
                <div class="layui-card-header">
                  {{flight.flightName}}
                  <i class="layui-icon" @click="copy(coupon)"></i>
                </div>
                <div class="layui-card-body postContent-body">
                  出发地点：{{flight.startingPlace}}
                  <br>
                  出发时间：{{flight.startTime}}
                  <br>
                  到达地点：{{flight.endPlace}}
                  <br>
                  到达时间：{{flight.endTime}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          暂无数据
        </div>

        <blockquote class="layui-elem-quote"> 我的酒店</blockquote>
        <div v-if="hotels.length" style="padding: 20px; background-color: #F2F2F2;">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md3" v-for="hotel in hotels">
              <div class="layui-card">
                <div class="layui-card-header">
                  {{hotel.hotelName}}
                </div>
                <div class="layui-card-body postContent-body">
                  {{hotel.address}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          暂无数据
        </div>

        <blockquote class="layui-elem-quote"> 我的门票</blockquote>
        <div v-if="landscapes.length" style="padding: 20px; background-color: #F2F2F2;">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md3" v-for="landscape in landscapes">
              <div class="layui-card">
                <div class="layui-card-header">
                  {{landscape.landscapeName}}
                </div>
                <div class="layui-card-body postContent-body">
                  {{landscape.address}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          暂无数据
        </div>
      </div>
    </div>
  </div>
  {% endraw %}

  <script type="text/javascript" src="./static/js/xcity.js"></script>
  <link rel="stylesheet" type="text/css" href="./static/asset/js/page/page.css">
  <script type="text/javascript" src="./static/asset/js/page/page.js"></script>
  <script>
    layui.use(['http', 'api', 'laydate', 'form', 'rate', 'amap'], function () {

      var http = layui.http;
      var api = layui.api;
      var laydate = layui.laydate;
      var form = window.form = layui.form;

      function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
      }


      var vm = new Vue({
        data: {
          coupons: [],
          landscapes: [],
          flights: [],
          hotels: []
        },
        el: '#app',
        computed: {

        },
        methods: {
          copy: function (coupon) {
            var url = window.location.href.split('?')[0];
            layer.open({
              type: 1,
              offset: 'offset', //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
              // id: 'layerDemo' + type, //防止重复弹出
              content: '<div style="padding: 20px 100px;">'+ url + '?couponId=' + coupon.couponId+'</div>',
              btn: '请复制上面的链接',
              btnAlign: 'c', //按钮居中
              shade: 0.3, //不显示遮罩
              yes: function () {
                layer.closeAll();
              }
            });
          },
          queryByUserCoupon: function () {
            http.ajax({
              url: api.queryByUserCoupon,
              success: function (res) {
                vm.coupons = res.coupons;
              }
            });
          }
        },
        mounted: function () {
          this.queryByUserCoupon();

          http.ajax({
            url: api.queryUserBuyRecord,
            success: function (res) {
              var landscapes = res.landscapes;
              var flights = res.flights;
              var hotels = res.hotels;
              vm.landscapes = landscapes;
              vm.flights = flights;
              vm.hotels = hotels;
            }
          });

          var couponId = GetQueryString('couponId');
          if (!couponId) {
            return;
          }
          http.ajax({
            url: api.getShareCoupon,
            data: {
              couponId: GetQueryString('couponId')
            },
            success: function (res) {
              layer.msg('您成功获取一张优惠券');
              vm.queryByUserCoupon();
            }
          })
        }
      })

    });
  </script>
</body>

</html>