<!doctype html>
<html class="x-admin-sm">

<head>
  <meta charset="UTF-8">
  <title>飞狗网</title>
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"
  />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="./static/lib/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="./static/asset/css/common.css">
  <link rel="stylesheet" href="./static/css/font.css">
  <link rel="stylesheet" href="./static/css/xadmin.css">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="./static/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="./static/js/xadmin.js"></script>
  <script type="text/javascript" src="./static/js/cookie.js"></script>
  <script type="text/javascript" src="./static/js/vue.js"></script>
  <script type="text/javascript" src="./static/main.js"></script>
</head>

<style type="text/css">
  .user-tab-info {
    padding: 20px 50px;
  }

  .layui-form-item {
    margin-bottom: 15px;
    float: left;
    clear: unset !important;
  }
</style>
<style type="text/css">
  [v-cloak] {
    display: none;
  }
</style>

<body>
  {% raw %}
  <div id="app" v-cloak>
    <div class="container" style="background-color: #1e9fff;">
      <ul class="layui-nav layui-bg-blue left" lay-filter="">
        <li class="layui-nav-item layui-this">
          <a href="flyInfo.html">机票预定</a>
        </li>
        <li class="layui-nav-item">
          <a href="hotels.html">酒店预定</a>
        </li>
        <li class="layui-nav-item">
          <a href="scape.html">景点门票</a>
        </li>
        <li class="layui-nav-item">
          <a href="raiders.html">热门攻略</a>
        </li>
        <li class="layui-nav-item">
          <a href="recommend.html">热门推荐</a>
        </li>
        <li class="layui-nav-item">
          <a href="post.html">社区交流</a>
        </li>
        <li class="layui-nav-item">
          <a href="">资源共享</a>
        </li>
      </ul>
      <ul class="layui-nav layui-bg-blue right" lay-filter="">
        <li class="layui-nav-item">
          <a href="login.html">退出</a>
        </li>
        <li class="layui-nav-item">
          <a href="person.html">个人中心</a>
        </li>
      </ul>
    </div>

    <div class="main">
      <div class="user-tab-info">

        <form class="layui-form layui-col-md12  layui-form-pane">
          <div class="layui-form-item x-city" id="start">
            <label class="layui-form-label">城市联动</label>
            <div class="layui-input-inline">
              <select name="startingPlace_province" lay-filter="province">
                <option value="">请选择省</option>
              </select>
            </div>
            <div class="layui-input-inline">
              <select name="startingPlace_city" lay-filter="city">
                <option value="">请选择市</option>
              </select>
            </div>
            <div class="layui-input-inline">
              <select name="startingPlace_area" lay-filter="area">
                <option value="">请选择县/区</option>
              </select>
            </div>
          </div>

          <div class="layui-form-item x-city" id="end">
            <label class="layui-form-label">城市联动</label>
            <div class="layui-input-inline">
              <select name="endPlace_province" lay-filter="province">
                <option value="">请选择省</option>
              </select>
            </div>
            <div class="layui-input-inline">
              <select name="endPlace_city" lay-filter="city">
                <option value="">请选择市</option>
              </select>
            </div>
            <div class="layui-input-inline">
              <select name="endPlace_area" lay-filter="area">
                <option value="">请选择县/区</option>
              </select>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">时间</label>
            <div class="layui-input-inline">
              <input type="text" name="startTime" id="startTime" class="layui-input" required lay-verify="required">
            </div>
          </div>

          <div class="layui-form-item">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="searchFlys">搜索</button>
          </div>
        </form>

        <table class="layui-table">
          <thead>
            <tr>
              <th>航班</th>
              <th>航空公司</th>
              <th>出发</th>
              <th>到达</th>
              <th>出发时间</th>
              <th>到达时间</th>
              <th>余票</th>
              <th>票价</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="info in flights">
              <td>{{info.flightNumber}}</td>
              <td>{{info.flightName}}</td>
              <td>{{info.startingPlace}}</td>
              <td>{{info.endPlace}}</td>
              <td>{{info.startTime}}</td>
              <td>{{info.endTime}}</td>
              <td>{{info.number}}</td>
              <td>{{info.price}}</td>
              <td>
                <button class="layui-btn layui-btn-sm" @click="buy(info)">订票</button>
              </td>
            </tr>
            <tr v-if="flights.length == 0">
              <td colspan="9" style="text-align: center;">暂无数据</td>
            </tr>
          </tbody>
        </table>
        <div class="pages page" v-show="showPage"></div>
      </div>
    </div>

  </div>
  {% endraw %}
  <script type="text/javascript" src="./static/js/xcity.js"></script>
  <link rel="stylesheet" type="text/css" href="./static/asset/js/page/page.css">
  <script type="text/javascript" src="./static/asset/js/page/page.js"></script>
  <script>
    layui.use(['http', 'api', 'laydate', 'form', 'amap'], function () {

      var http = layui.http;
      var api = layui.api;
      var laydate = layui.laydate;
      var form = window.form = layui.form;
      var amap = layui.amap;

      var vm = new Vue({
        data: {
          startingPlace: '',
          endPlace: '',
          startTime: '',
          flights: [],
          showPage: false
        },
        el: '#app',
        computed: {

        },
        methods: {
          buy: function(info) {
            var _this = this;
            var flightId = info.flightId;
            http.ajax({
              url: api.buyFlight,
              data: {
                flightId: flightId
              },
              success: function(res) {
                layer.msg('购买成功');
                http.ajax({
                  url: api.queryAllFlight,
                  success: function (res) {
                    var flights = res.flights;
                    _this.flights = flights;
                    _this.showPage = flights.length > 5;
                    $('.pages').page({
                      info: {
                        data: vm.flights.concat([]),
                        pageIndex: 1,
                        pageCount: 5
                      },
                      fn: function (data) {
                        vm.flights = data;
                      }
                    });
                  }
                });
              }
            });
          }
        },
        mounted: function () {
          var _this = this;
          $('#end').xcity();
          http.ajax({
            url: api.queryAllFlight,
            success: function (res) {
              var flights = res.flights;
              _this.flights = flights;
              _this.showPage = flights.length > 5;
              $('.pages').page({
                info: {
                  data: vm.flights.concat([]),
                  pageIndex: 1,
                  pageCount: 5
                },
                fn: function (data) {
                  vm.flights = data;
                }
              });
            }
          });
        }
      });


      //执行一个laydate实例
      laydate.render({
        elem: '#startTime' //指定元素
      });


      form.on('submit(searchFlys)', function (formData) {
        var data = formData.field;
        data.startingPlace = data.startingPlace_province + '-' + data.startingPlace_city + '-' + data.startingPlace_area;
        data.endPlace = data.endPlace_province + '-' + data.endPlace_city + '-' + data.endPlace_area;
        delete data.startingPlace_province;
        delete data.startingPlace_city;
        delete data.startingPlace_area;
        delete data.endPlace_province;
        delete data.endPlace_city;
        delete data.endPlace_area;
        http.ajax({
          url: api.searchFlight,
          data: data,
          success: function (res) {
            var flights = res.flights;
            vm.flights = flights;
            
          }
        });
        return false;
      });

      amap.getLocalCity(function (res) {
        if (!res) {
          res = {};
        };
        var province = res.province || '';
        var city = res.city || '';
        province = province.replace('省', '');
        $('#start').xcity(province, city, '');
      });
    });
  </script>
</body>

</html>