<!doctype html>
<html class="x-admin-sm">

<head>
  <meta charset="UTF-8">
  <title>飞狗网</title>
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"
  />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="./static/lib/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="./static/asset/css/common.css">
  <link rel="stylesheet" href="./static/css/font.css">
  <link rel="stylesheet" href="./static/css/xadmin.css">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="./static/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="./static/js/xadmin.js"></script>
  <script type="text/javascript" src="./static/js/cookie.js"></script>
  <script type="text/javascript" src="./static/js/vue.js"></script>
  <script type="text/javascript" src="./static/main.js"></script>
</head>

<style type="text/css">
  .user-tab-info {
    padding: 20px 50px;
  }

  .layui-form-item {
    margin-bottom: 15px;
    float: left;
    clear: unset !important;
  }
</style>
<style type="text/css">
  [v-cloak] {
    display: none;
  }
</style>
<style>
  .list{
    height:150px;
    border-top:1px solid #e9eaeb;
    padding:20px;
  }
  .list-foot{
    color:#3399ea;
  }
  span{
    font-size:14px;
    font-family: 'Microsoft YaHei'
  }
  p{
    font-size: 16px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding:10px 0 10px 0;
  }
  .ope{
    float:right;
  }
  .list:hover {
    cursor:hand;
    background:#e6e6e6;
  }
  .postContent {
    height: 30px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
  }
  .postContent-body {
    cursor: pointer;
  }
</style>


<body>
  {% raw %}
  <div id="app" v-cloak>
    <div class="container" style="background-color: #1e9fff;">
      <ul class="layui-nav layui-bg-blue left" lay-filter="">
        <li class="layui-nav-item">
          <a href="flyInfo.html">机票预定</a>
        </li>
        <li class="layui-nav-item">
          <a href="hotels.html">酒店预定</a>
        </li>
        <li class="layui-nav-item">
          <a href="scape.html">景点门票</a>
        </li>
        <li class="layui-nav-item">
          <a href="raiders.html">热门攻略</a>
        </li>
        <li class="layui-nav-item">
          <a href="recommend.html">热门推荐</a>
        </li>
        <li class="layui-nav-item layui-this">
          <a href="post.html">社区交流</a>
        </li>
        <li class="layui-nav-item">
          <a href="">资源共享</a>
        </li>
      </ul>
      <ul class="layui-nav layui-bg-blue right" lay-filter="">
        <li class="layui-nav-item">
          <a href="login.html">退出</a>
        </li>
        <li class="layui-nav-item">
          <a href="person.html">个人中心</a>
        </li>
      </ul>
    </div>
    
    <div class="main"></div>
      <div class="user-tab-info">
        

        <div class="clearfix" style="height: 50px;">
          <button @click="addpost" class="layui-btn layui-btn-normal layui-btn-radius floatRight">新建文章</button>
        </div>
        <div style="padding: 20px; background-color: #F2F2F2;" >
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md6" v-for="postRecord in postRecords">
              <div class="layui-card">
                <div class="layui-card-header">
                  <!-- <i class="layui-icon"></i>   -->
                   {{postRecord.postTitle}}
                </div>
                <div class="layui-card-body postContent-body" @click="gotDetail(postRecord)">
                  <div class="postContent">{{postRecord.postContent}}</div>
                  <br> {{postRecord.postTime}}
                  阅读数：{{0}}
                  评论数：{{postRecord.replyCount}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endraw %}
  <script>
    layui.use(['http', 'api', 'laydate', 'form', 'rate'], function () {

      var http = layui.http;
      var api = layui.api;

      var vm = new Vue({
        data: {
          startingPlace: '',
          endPlace: '',
          startTime: '',
          postRecords: []
        },
        el: '#app',
        computed: {

        },
        methods: {
          addpost: function() {
            window.location.href = 'add-post.html';
          },
          gotDetail: function(postRecord) {
            console.log(postRecord.postId);
            window.location.href = 'content.html?postRecordId='+ postRecord.postId;
          }
        },
        mounted: function() {
          http.ajax({
            url: api.queryAllPostRecord,
            success: function(res) {
              console.log(res);
              vm.postRecords = res.postRecords;
            }
          })
        },
      })

    });
  </script>
</body>

</html>